# PostreSQL
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="space-catalogue"
DATABASE_URL="postgresql://user:password@db:5432/space-catalogue"

# PG Admin
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"

# Misc
PYTHONUNBUFFERED=1

# Space Track
SPACETRACK_USER="admin@admin.com"
SPACETRACK_PASS="admin"
